@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

:root{
    --white: #ffffff;
    --black: #1d1d1d;
    --red: #ff6347;
    --orange: #ff772e;
    --gray: #919191;
    --green: #21a69d;
    --blue: #4487d0;
    --size: 0.8rem;
    --scale: 1.2;
}

body>*{
    outline: 1px solid red;
}

html{
    height: 100%;;
}

body{
    margin: 0;
    height: 100%;
    background-color: var(--white);
    font-family: 'Roboto', sans-serif;
}

h1{
    color: var(--black);
    font-size: 10rem;
    padding: 0;
    border: 0;
    margin: 0;
}

h2{
    font-size: 3rem;
    padding: 0;
    border: 0;
    margin: 0;
}

h3{
    font-size: 1.25rem;
    padding: 0.25rem;
    border: 0;
    margin: 0.5rem;
}

.container{
    height: 100%;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* outline: 2px solid red; */
}

.column{
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.horizontal{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
    /* outline: 2px solid green; */
}

.time-row{
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-between;
    /* outline: 2px solid green; */
}

section{
    width: auto;
    height: auto;
    padding: 0.25rem;
    /* outline: 2px solid blue; */

}

.float-left{
    width: auto;
    align-items: flex-start;
}

.no-pad{
    margin: 0;
    padding: 0;
}

.orange{
    color: var(--orange);
}

.round{
    font-size: 1.5rem;
    border-radius: 50%;
    width: 7rem;
    height: 7rem;
    border-style: solid;
    cursor: pointer;
}

button:active{
    background-image: linear-gradient(rgba(0, 0, 0, 0.1) 0 0);
}

.round.round--start{
    color: var(--white);
    background-color: var(--green);
    border-color: var(--green);
}

.round.round--split{
    color: var(--gray);
    background-color: var(--white);
    border-color: var(--gray);
}

.round.round--reset{
    color: var(--white);
    background-color: var(--blue);
    border-color: var(--blue);
}

#time-list{
    overflow-y: auto;
    height: 20vh;
}